In [1]:
import numpy as np
import pandas as pd

## 엑셀 - load

In [5]:
excel = pd.read_excel('data/DMF1.xlsx', sheet_name='info', engine='openpyxl')
# 위 코드를 실행시키기 전 code 에서
# source venv/Scripts/activate -> 가상환경 활성화
# pip install openpyxl -> openpyxl 설치
# 이 후 위 코드 실행하기

In [4]:
excel

     이름           전공                   email             github
0   오창희      소프트웨어공학      oche.edu@gmail.com            5chang2
1   강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com      KANGJISEUNG-1
2   김민수        상담심리학  rlaalstn2568@naver.com         minwater96
3   김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com             suhihy
4   김아영    정보사회미디어학과     irene4618@naver.com            EHYONGI
5   김정아         환경공학   jjungcu0519@gmail.com         jjungcu519
6   김주미        조리과학과      ajsel422@gmail.com           JUMI0110
7   김태주  바이오산업자원공학전공       tj98724@gmail.com              Juin6
8   김현호       경영정보학과  poweremperor@naver.com             gusgh3
9   박진경          행정학    wlsrud0593@naver.com      ParkJinGyeong
10  성찬렬       응용통계학과      s3147078@gmail.com             cksfuf
11  이시운  공연예술학부 무용전공      shiun147@gmail.com            v2k2000
12  이현주          중국학    kangje0610@gmail.com         hyunjuleee
13  이후석          경제학    starpeeker@naver.com  krpythondestroyer
14  조은수       저널리즘전공      joeun115@naver.com          Eunsoojoe
15  최지원        산업보안학  lunatic-ring@naver.com            basquuu
16  최진욱      식량생명공학과      ekdltl30@naver.com      jinwook012345

In [7]:
type(excel)
# excel 타입을 데이터프레임 타입으로 바꿔준거임

pandas.core.frame.DataFrame

In [9]:
menu = pd.read_excel('data/DMF1.xlsx', sheet_name='menu', engine='openpyxl')
menu.head() # 알지? 상위값 5개

,가게이름,거리(분),메뉴,평가
0,홍두깨칼국수,8분,"칼국수, 솥밥정식, 돈까스",칼국수 집인데 솥밥정식이 더 맛있음
1,맘맘테이블,3분,"쌀국수, 분짜",분짜 추천/ 쌀국수도 추천
2,소신이쏘,5분,소갈비찜,크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
3,카라멘야,7분,"카라멘, 본라멘, 마제소바","맵기 단계 설정 가능, 카라멘 추천"
4,고삼이,7분,"고등어구이, 삼치구이, 오징어볶음",고등어구이 추천

In [11]:
excel = pd.read_excel('data/DMF1.xlsx', sheet_name=None, engine='openpyxl')
excel
# sheet_name='' 을 None 로 지정하면 모든 시트 다 가져옴
# 근데 그러면 보기 어려워지니 시트 확인 후 불러오도록 하자.

{'info':      이름           전공                   email             github
 0   오창희      소프트웨어공학      oche.edu@gmail.com            5chang2
 1   강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com      KANGJISEUNG-1
 2   김민수        상담심리학  rlaalstn2568@naver.com         minwater96
 3   김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com             suhihy
 4   김아영    정보사회미디어학과     irene4618@naver.com            EHYONGI
 5   김정아         환경공학   jjungcu0519@gmail.com         jjungcu519
 6   김주미        조리과학과      ajsel422@gmail.com           JUMI0110
 7   김태주  바이오산업자원공학전공       tj98724@gmail.com              Juin6
 8   김현호       경영정보학과  poweremperor@naver.com             gusgh3
 9   박진경          행정학    wlsrud0593@naver.com      ParkJinGyeong
 10  성찬렬       응용통계학과      s3147078@gmail.com             cksfuf
 11  이시운  공연예술학부 무용전공      shiun147@gmail.com            v2k2000
 12  이현주          중국학    kangje0610@gmail.com         hyunjuleee
 13  이후석          경제학    starpeeker@naver.com  krpythondestroyer
 14  조은수       저널리즘전공      joeun115@naver.com          Eunsoojoe
 15  최지원        산업보안학  lunatic-ring@naver.com            basquuu
 16  최진욱      식량생명공학과      ekdltl30@naver.com      jinwook012345,
 'menu':       가게이름 거리(분)                             메뉴  \
 0   홍두깨칼국수    8분                 칼국수, 솥밥정식, 돈까스
 1    맘맘테이블    3분                        쌀국수, 분짜
 2     소신이쏘    5분                           소갈비찜
 3     카라멘야    7분                카라멘, 본라멘, 마제소바
 4      고삼이    7분             고등어구이, 삼치구이, 오징어볶음
 5    고래파스타    5분  새우루꼴라파스타, 봉골레파스타, 트러플버섯크림 파스타
 6    텐동미세기    7분                             텐동
 7     강남불백   2분                     불백,  불낙, 불쭈
 8  한창희천하일면    5분  고기국수, 얼큰고기국수, 아부라소바, 매운 아부라소바

                                                   평가
 0                                칼국수 집인데 솥밥정식이 더 맛있음
 1                                     분짜 추천/ 쌀국수도 추천
 2         크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
 3                                맵기 단계 설정 가능, 카라멘 추천
 4                                           고등어구이 추천
 5                                           면삶기가 좋음
 6                                            합리적인 가격
 7                                            4.0/4.5
 8  기본 고기국수 7000원 맛 가성비 굿. 면 양 조절 가능하고 숙주, 마늘 무료로 ...  }

In [12]:
excel.keys()

dict_keys(['info', 'menu'])

In [14]:
excel['info'].head()

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI

In [15]:
excel['menu'].head()

,가게이름,거리(분),메뉴,평가
0,홍두깨칼국수,8분,"칼국수, 솥밥정식, 돈까스",칼국수 집인데 솥밥정식이 더 맛있음
1,맘맘테이블,3분,"쌀국수, 분짜",분짜 추천/ 쌀국수도 추천
2,소신이쏘,5분,소갈비찜,크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
3,카라멘야,7분,"카라멘, 본라멘, 마제소바","맵기 단계 설정 가능, 카라멘 추천"
4,고삼이,7분,"고등어구이, 삼치구이, 오징어볶음",고등어구이 추천

### 엑셀 - save

In [18]:
# 엑셀 파일 가져오기
excel = pd.read_excel('data/DMF1.xlsx', sheet_name='info', engine='openpyxl')

# 엑셀 수정하기(강사님 이름 수정)
student = excel[1:]

# 새로운 셀로 저장(data 폴더에 student 이름으로 xlsx 형태 저장)
student.to_excel('data/student.xlsx')

### CSV - load

In [22]:
df = pd.read_csv('data/DMF1.csv', encoding='utf8')
df.head()

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI

In [26]:
file = pd.read_csv('data/DMF1.csv', chunksize=10)
for df in file:
    display(df)

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI
5  김정아         환경공학   jjungcu0519@gmail.com     jjungcu519
6  김주미        조리과학과      ajsel422@gmail.com       JUMI0110
7  김태주  바이오산업자원공학전공       tj98724@gmail.com          Juin6
8  김현호       경영정보학과  poweremperor@naver.com         gusgh3
9  박진경          행정학    wlsrud0593@naver.com  ParkJinGyeong

     이름           전공                   email             github
10  성찬렬       응용통계학과      s3147078@gmail.com             cksfuf
11  이시운  공연예술학부 무용전공      shiun147@gmail.com            v2k2000
12  이현주          중국학    kangje0610@gmail.com         hyunjuleee
13  이후석          경제학    starpeeker@naver.com  krpythondestroyer
14  조은수       저널리즘전공      joeun115@naver.com          Eunsoojoe
15  최지원        산업보안학  lunatic-ring@naver.com            basquuu
16  최진욱      식량생명공학과      ekdltl30@naver.com      jinwook012345

## CSV - save

In [34]:
# csv 파일 불러오기
df = pd.read_csv('data/DMF1.csv')

# 파일 수정
student = df[1:]

# 파일 저장
student.to_csv('data/student.csv', index=False)
# student.to_excel('data/student.excel', index=False) -> excel 형식으로도 저장 가능.